# Edelweiss Existing API (Dev Flow)
VITE_API_BASE_URL="https://dev-flow.edelweiss.id"
VITE_API_USERNAME="menu-gizi"
VITE_API_PASSWORD="your-api-password"

# Admin Authentication (Hardcoded Password per PRD Bagian 3.9)
VITE_ADMIN_PASSWORD="your-admin-password"

